main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

details > summary {
  background-color: none;
  font-weight: 600;
  list-style: none;
  padding: 0.3rem;
  border-bottom: 2px solid #D3D3D3;
  width: 15rem;
}

.table details {
  padding: 0.255rem;
}

details[open] > summary{
  background-color:#D3D3D3;
  color: black;
}

details > p {
  align-items: center;
  font-size: 0.875rem;
  line-height: 0.75rem;
}

span {
  float: right;
  padding-right: 0.25rem;
}

img {
  margin: 1rem;
}

h1 {
  font-size: 2.625rem;
  margin: auto;
  padding: auto;
  text-align: center;
}